@media screen and (min-width:770px){
    .glyphicon{
        display: none;
    }
    
    .phone-xs{
        display: none;
    }
}

@media screen and (max-width:769px) {
    
    .glyphicon{
        position: relative;
    }
    
    .navigation{
        display: none;
        position: absolute;
    }
    
    .phone-xs{
        display: none;
    }
    
    .banner-right{
        margin-right:0;
    }
    
    /*.nav{
        display: none;        
    }*/
    .glyphicon:hover .navigation{
        display: block;
    }

}
@media screen and (max-width:540px){
    
    h1{
        font-size:30px;
    }
    .phone-img{
        display: none;
    }
    
    .phone{
        display: none;
    }
    
    .phone-xs{
        display: block;
        margin-top:10px;
        padding-right:60px;
        float:right;
    }
    
    input[type="text"]{
        width:300px;   
    }
    
    .contact_form input[type = "button"]{
        width:280px;
    }
    
    .email {
        display: block;
    }
    .contact_form input{
    height: 70px;
    width:300px;
    display: block;
    margin: 20px auto 20px auto;
    background: #5c40bd;
    border: 2px solid #e8e5f6;
    color:#e8e5f6;
    padding-left:15px;
}
.contact_form input[type = "button"]{
    width: 330px;
    height:56px;
    background: #fff;
    color:#593cbc;
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: bold;
}
.contact_form input[type = "button"]:active{
    background:#593cbc;
    color:#fff;
}
textarea{
    height: 144px;
    Width:300px;
    background: #5c40bd;
    color:#e8e5f6;
    border: 2px solid #e8e5f6;
}

}